:local(#edAndExp) {
    height: 100%;
    z-index: 10;
    padding: 50px 100px;
    background-image: url('../../pics/bg4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

:local(#edAndExp header) {
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}

:local(#edAndExp header h1) {
    color: #bdbdbd;
}

:local(#edAndExp article) {
    display: flex;
    width: 100%;
    height: 450px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

:local(.column) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

:local(.row) {
    position: relative;
    width: 100%;
    height: 200px;
    transition: filter 1.0s;
}

:local(.textarea) {
    /*font-family: Heebo;*/
    font-family: Montserrat;
    font-size: 1.3rem;
    text-align: center;
    /*color: #ff0000;*/
    color: #2d2d2d;
    opacity: 0;
    transition: opacity 1.0s;
}

:local(.sfu) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: filter 1.0s;
    background-image: url('../../pics/sfu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

:local(.row:hover .sfu) {
    filter: blur(60px);
}

:local(.row:hover .itmo) {
    filter: blur(60px);
}

:local(.row:hover .vh) {
    filter: blur(60px);
}

:local(.row:hover .fora) {
    filter: blur(60px);
}

:local(.row:hover .textarea) {
    opacity: 1;
}

:local(.itmo) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: filter 1.0s;
    background-image: url('../../pics/itmo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

:local(.vh) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: filter 1.0s;
    background-image: url('../../pics/vh.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
}

:local(.fora) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: filter 1.0s;
    background-image: url('../../pics/fora.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
