:local(#projects) {
    height: 100%;
    padding: 50px 100px;
    background-image: url('../../pics/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

:local(#projects header) {
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}

:local(#projects header h1) {
    color: #201F4B;
}

:local(#projects article) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 25px 25px;
}

:local(.preview) {
    display: inline-block;
    width: 280px;
    height: 200px;
    background: blue;
    background-size: cover;
    font-family: Montserrat;
    font-size: 0.8rem;
    text-decoration: none;
}

:local(.wpzorg) {
    background-image: url('../../pics/wpzorg.png');
}

:local(.norco) {
    background-image: url('../../pics/norco.png');
}

:local(.logotype) {
    background-image: url('../../pics/logotype.png');
}

:local(.oncalc) {
    background-image: url('../../pics/oncalc.png');
    background-position-x: center;
    width: 420px;
}

:local(.tictactoe) {
    background-image: url('../../pics/tictactoe.png');
    background-position-x: center;
    width: 420px;
}

:local(.descriptionLayer) {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

:local(.preview:hover .descriptionLayer) {
    visibility: visible;
    opacity: 1;
}

:local(.description) {
    transition: .2s;
    transform: translateY(1em);
}

:local(.preview:hover .description) {
    transform: translateY(0);
}
